<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    <div class="container article">
      <div class="row">
        <main class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
          <article>
            <header>
              <div>
                <p class="read-meta" datetime="{{ dateFormat "02 Jan 2006" .Date }}">{{ dateFormat "02 Jan 2006" .PublishDate }}</p>
                <p class="read-meta">• {{ .ReadingTime }} min read</p>
                <p class="read-meta">• {{ .WordCount }} words</p>
              </div>
              <h1>{{ .Title }}</h1>
            </header>
            {{ .Content }}
            <section class="subscribe">
              <p>
                <b>PS</b>:
                If you read this far, you might want to follow me <a href="https://github.com/akinjide" hreflang="{{ .Site.LanguageCode }}" title="Akinjide Bankole on GitHub" type="text/html">on GitHub</a>,
                or subscribe via RSS above for updates.
              </p>
            </section>
          </article>
        </main>
      </div>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "footer-includes.html" . }}
  </body>
</html>
