body {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  fill: #666666;
}

/**
 * Navigation bar styling.
 */
nav {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2em;
  text-align: center;
}

nav ul {
  list-style-type: none;
  display: inline;
  padding-left: .5em;
  padding-right: .5em;
}

nav li {
  display: inline;
  font-size: 1.2em;
  font-weight: 700;
}

nav li {
  list-style: none;
  display: inline;
  padding-left: .5em;
  padding-right: .5em;
  margin-right: .2em;
  margin-left: .2em;
}

nav li:after {
  content: ',';
}

nav li:last-child:after,
nav li:first-child:after {
  content: none;
}

nav a,
nav a:hover,
nav a:visited {
  color: #515050;
}

/**
 * Header styling.
 */
header {
  font-family: 'Raleway', sans-serif;
}

header a:link,
header a:visited,
header a:hover,
header a:active {
  text-decoration: none;
}

header h1,
header h2 {
  text-align: center;
}

header h1 {
  font-size: 4em;
}

header h2 {
  font-size: 2em;
}

header a:visited,
header h1 a,
header h2 a {
  color: #515050;
}

header h1 a:hover,
header h2 a:hover {
  color: #BEBEBE;
}

/**
 * Index page styling.
 */
.index  {
  font-family: 'Raleway', sans-serif;
}

.index .intro img {
  max-width: 6em; /*10em*/
}

.index .jumbotron {
  background-color: transparent;
  text-align: center;
}

.index main {
  margin-top: -2em;
}

.index main ul {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
}

.index main li {
  margin-bottom: .5em;
}

.index main li a,
.index main time {
  font-size: 1.2em;
}

.index main li a {
  font-weight: 700;
}

.index main li a,
.index main li a:hover,
.index main li a:visited {
  color: #515050;
}

.index main p {
 padding-top: 1em;
 font-size: 16px !important;
}

.index main p a,
.index main p a:hover,
.index main p a:visited {
  text-decoration: underline;
  color: #b10000;
}

.index main time {
  color: #666666;
  font-weight: normal;
}

.index main li time {
  float: right;
}

/**
 * Article page styling.
 */
.article article {
  margin-top: -3em;
}

.article header {
  margin-bottom: 3em;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  color: #515050;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 1em;
  margin-top: 1em;
}

.article h1 {
  font-size: 2.5em;
}

.article h2 {
  font-size: 2.3em;
}

.article h3 {
  font-size: 2.1em;
}

.article h4 {
  font-size: 1.9em;
}

.article h5 {
  font-size: 1.7em;
}

.article h6 {
  font-size: 1.5em;
}

.article {
  color: #515050;
  font-family: 'Sanchez', serif;
  font-size: 1.3em;
}

.article p {
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: justify;
}

.article p.read-time {
  font-size: .8em;
  font-weight: 700;
  color: #b10000;
  margin: 4em 0 -2.4em 0;
  text-align: right;
  opacity: 0.05;
  -webkit-font-smoothing: antialiased;
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -ms-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -o-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
  transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82)
}

article p.read-time:hover {
  opacity: 1;
}

article p.read-time.active {
  opacity: 1;
  display: block;
}

.article blockquote {
  padding-bottom: 0em;
  padding-top: 0em;
}

.article blockquote,
.article blockquote p {
  text-align: left !important;
}

.article blockquote,
.article img,
.article ol,
.article pre,
.article ul {
  margin-bottom: 1em;
  margin-top: 1em;
}

.article img {
  display: block;
  margin: auto;
  margin-bottom: 2.5em !important;
  margin-top: 2.5em !important;
  max-width: 100%;
  pointer-events: none;
}

.article blockquote,
.article pre {
  margin-bottom: 2.5em;
  margin-top: 2.5em;
}

.article .subscribe {
  margin-bottom: 1em;
  margin-top: 2em;
}

.article a,
.article a:link,
.article a:visited,
.article a:hover,
.article a:active {
  color: #b10000;
  text-decoration: underline;
}

/**
 * Footer styling.
 */
footer {
  color: #515050;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  padding-top: 1em;
  text-align: center;
}

footer p a,
footer p a:hover,
footer p a:visited {
  color: #515050;
}

/**
 * Mailchimp form styling
 */
.mailchimp-subscribe {
  text-align: center;
}

.mailchimp-subscribe button {
  border: 1px solid #DDDDDD;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #515050;
}

.mailchimp-subscribe input[type=email]:focus {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.4);
}

.mailchimp-subscribe button:active,
.mailchimp-subscribe button:hover,
.mailchimp-subscribe button:focus {
  background-color: transparent;
  border: 1px solid #515050;
  outline: none !important;
}

/**
 * General element styling.
 */
code {
  background-color: #FFFFFF;
  color: #B10000;
}

/*
 * 404 error styling.
 */
.main.intro {
  font-family: monospace;
  text-align: center;
  margin-top: 3em;
}

.main.intro p a {
  color: #b10000;
  text-decoration: underline;
}

.main.intro img {
  max-width: 18em;
}

/**
 * Media Queries styling.
 */
@media (max-width: 400px) {
  .article p.read-time {
    text-align: center;
    opacity: 0.5
  }
}


/* Switch */

.controls {
  position: fixed;
  top: 12px;
  right: 20px;
  padding: 18px;
}

.switch {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 24px;
  overflow: hidden;
  margin: 0;
}

.switch input {
  display: none;
}

.switch > svg {
  transform: rotate(139deg);
  cursor: pointer;
  transition: 0.4s;
  fill: inherit;
}


/* dark */

.dark {
  background-color: #333333 /* #0C0D0D */ !important;
  color: #DDDDDD;
  fill: #DDDDDD;
}

.dark .article pre {
  background-color: #333333 !important;
}

.dark nav a,
.dark nav a:hover,
.dark nav a:visited,
.dark header a:visited,
.dark header h1 a,
.dark header h2 a,
.index.dark main li a,
.index.dark main li a:hover,
.index.dark main li a:visited,
.dark .article,
.dark .article h1,
.dark .article h2,
.dark .article h3,
.dark .article h4,
.dark .article h5,
.dark .article h6,
.dark .article code,
.dark footer,
.dark footer p a,
.dark footer p a:hover,
.dark footer p a:visited {
  color: #DDDDDD;
}

.dark .article p > code,
.dark .article li > code{
  color: #515050;
}

.dark .mailchimp-subscribe button:active,
.dark .mailchimp-subscribe button:hover,
.dark .mailchimp-subscribe button:focus {
  border: 1px solid #DDDDDD;
}

.dark .mailchimp-subscribe input[type=email] {
  color: #FFFFFF;
}

.dark .mailchimp-subscribe input[type=email]:focus {
  -webkit-box-shadow: inset 0 -1px 0 #DDDDDD;
  box-shadow: inset 0 -1px 0 #DDDDDD;
}

.dark code,
.index.dark main p a,
.index.dark main p a:hover,
.index.dark main p a:visited,
.dark .article a,
.dark .article a:link,
.dark .article a:visited,
.dark .article a:hover,
.dark .article a:active,
.dark .main.intro p a,
.dark .article p.read-time {
  color: #FFFF00;
}

.dark li code
.dark p code {
  background-color: #000000;
}
