<div class="container" style="margin-top: 6em; margin-bottom: 8em;">
  <div class="row">
    <div class="col-xs-12 hidden-xs hidden-sm">
      <section class="controls">
        <label class="switch">
          <input id="toggle" type="checkbox" />
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M10,2C8.18,2 6.47,2.5 5,3.35C8,5.08 10,8.3 10,12C10,15.7 8,18.92 5,20.65C6.47,21.5 8.18,22 10,22A10,10 0 0,0 20,12A10,10 0 0,0 10,2Z" /></svg>
        </label>
      </section>
    </div>
  </div>

  <div class="row">
    <section class="intro col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
      <header>
        <img alt="Akinjide Bankole - Avatar" class="img-rounded img-responsive" src="{{ "/static/images/akinjide-avatar.png" | absURL }}">
        <h3><a href="{{ "/" | absURL }}" hreflang="{{ .Site.LanguageCode }}" media="all" title="{{ .Site.Title }} - Home" type="text/html"><strong>{{ .Site.Title }}</strong></a></h3>
        {{ partial "nav.html" . }}
      </header>
    </section>
  </div>
</div>
