<!DOCTYPE HTML>
<html lang="en-US">
<head>
  {{ partial "head.html" . }}
<body>
  <div class="container">
    <div class="row">
      <section class="main intro">
        <div class="col-xs-offset-2 col-xs-8">
         <h4 class="title">{{ .Title }}</h4>
         <p>feeling lost?</p>
         <p><a href="{{ "/" | absURL }}" hreflang="{{ .Site.LanguageCode }}" media="all" title="{{ .Site.Title }} - Home" type="text/html">get back to my world : )</a></p>
         <img alt="Akinjide Bankole - 404" class="center-block img-rounded img-responsive" src="{{ "/static/images/akinjide-404.png" | absURL }}">
        </div>
      </section>
    </div>
  </div>
  {{ partial "footer-includes.html" . }}
</body>
</html>