<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body class="index">
    {{ partial "header.html" . }}
    <div class="container">
      <div class="row">
        <section class="intro">
          <div class="col-xs-offset-3 col-xs-6">
            <img alt="Akinjide Bankole - Avatar" class="center-block img-rounded img-responsive" src="{{ "/static/images/akinjide-avatar.png" | absURL }}">
          </div>
        </section>
      </div>
      <div class="row">
        <div class="jumbotron col-xs-offset-2 col-xs-8">
          <p>
            Hey, I'm Akinjide. I’m an enthusiastic Programmer that likes to code and build fun stuff.
          </p>
        </div>
      </div>
      <div class="row">
        <main class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <ul>
            {{ range .Data.Pages }}
              <time class="visible-xs visible-sm visible-md" datetime="{{ dateFormat "02 Jan 2006" .Date }}">{{ dateFormat "02 Jan 2006" .Date }}</time>
              <li><a href="{{ .Permalink }}" hreflang="{{ $.Site.LanguageCode }}" media="all" title="{{ .LinkTitle }}" type="text/html">{{ upper .LinkTitle }}</a> <time class="visible-lg" datetime="{{ dateFormat "02 Jan 2006" .Date }}">{{ dateFormat "02 Jan 2006" .Date }}</time></li>
            {{ end }}
          </ul>
          <p>
            <strong>Notes</strong>
            <br>
            <strong>1. </strong>Articles here promote general understanding and intend to serve as a reference for learning purposes only,
            thereby infrequently cite other articles.
            <br>
            <strong>2. </strong>Some arts (i.e. sketches, pictures) within articles are pulled from (un)known sources (i.e. Google Search) with the intent to provide supplementary context to readers.
            <br>
            <strong>3. </strong>Unfortunately, I cannot moderate comments at this time. I'll eventually look into some free embeddable comments software but I invite you to connect with me <a href="https://github.com/akinjide" target="_blank" rel="noopener" title="Akinjide Bankole on GitHub">on GitHub</a> or <a href="mailto:r@akinjide.me" title="Akinjide Bankole Email">email me.</a>
            <br>
            <strong>4. </strong> If you want to send me a GPG-encrypted mail, see the GPG key link above for my key and verify my key fingerprint <code>BB99 7052 37A0 284F D945  CEDB E418 77A3 EA43 D3E1</code> to be really sure the key is mine. For me to reply, send me your key.
            <br>
            <strong>5. </strong>Having my photo on Twitter, Facebook, Instagram or any social platform contributes to privacy invasion. Please don't post any photos that include me without prior notice and/or permission.
            <br>
            <strong>6. </strong>You won't find me on Twitter or Facebook, any account called <strong>“Akinjide”</strong> is not me. Currently, I'm reachable via email only.
            <br>
            <strong>7. </strong>Subscribe via RSS above to get notifications of newly published articles and pull them automatically.
            <br>
            <strong>8. </strong>Sadly, I no longer email new articles when I publish them because maintaining a mailing list is tedious and I don't feel comfortable having my readers' email addresses with a third-party service any longer. Please check my website as much as possible to read new or old articles, you can also subscribe via RSS above and reach me via email.
          </p>
          <p>
            <strong>Recommended items</strong>
            <br>
            <strong>1. </strong>Listen and Act: <a href="https://stackoverflow.blog/2020/11/03/podcast-283-cleaning-up-the-cloud-to-help-fight-climate-change/" target="_blank" rel="noopener" title="Podcast 283: Cleaning up the cloud to help fight climate change - Stack Overflow Blog">Podcast 283 – Cleaning up the cloud to help fight climate change.</a>
            <br>
            <strong>2. </strong><a href="https://www.privacytools.io" target="_blank" rel="noopener" title="Privacy Tools">PrivacyTools</a> - Encryption and tools to protect against global mass surveillance
            <br>
            <strong>3. </strong>Must Read <a href="https://privacysos.org/blog/so-you-think-you-have-nothing-to-hide/" target="_blank" rel="noopener" title="So you think you have nothing to hide…">SO YOU THINK YOU HAVE NOTHING TO HIDE…</a>
          </p>
        </main>
      </div>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "footer-includes.html" . }}
  </body>
</html>
