<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body class="index">
    {{ partial "header.html" . }}
    <div class="container">
      <div class="row">
        <section class="intro">
          <div class="col-xs-offset-3 col-xs-6">
            <img alt="Akinjide Bankole - Avatar" class="center-block img-rounded img-responsive" src="{{ "/static/images/akinjide-avatar.png" | absURL }}">
          </div>
        </section>
      </div>
      <div class="row">
        <div class="jumbotron col-xs-offset-2 col-xs-8">
          <p>
            Hey, I'm Akinjide. I’m an enthusiastic Programmer that likes to code and build fun stuff.
          </p>
          <div class="hidden-xs">
            {{ partial "mailchimp-subscribe.html" . }}
          </div>
        </div>
      </div>
      <div class="row">
        <main class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <ul>
            {{ range .Data.Pages }}
              <time class="visible-xs visible-sm visible-md" datetime="{{ dateFormat "02 Jan 2006" .Date }}">{{ dateFormat "02 Jan 2006" .Date }}</time>
              <li><a href="{{ .Permalink }}" hreflang="{{ $.Site.LanguageCode }}" media="all" title="{{ .LinkTitle }}" type="text/html">{{ upper .LinkTitle }}</a> <time class="visible-lg" datetime="{{ dateFormat "02 Jan 2006" .Date }}">{{ dateFormat "02 Jan 2006" .Date }}</time></li>
            {{ end }}
          </ul>
          <p>
            Note(s)?
            <br>
            1. Articles here promote general understanding and intend to serve as a reference for learning purposes only,
            thereby infrequently cite other articles.
            <br>
            2. Some arts (i.e. sketches, pictures) within articles are pulled from (un)known sources (i.e. Google Search) with intent to provide supplementary context to readers.
            <br>
            3. Unfortunately, I cannot moderate comments at this time. I'll eventually look into some free embeddable comments software but I invite you to connect with me <a href="https://github.com/akinjide" target="_blank" rel="noopener" title="Akinjide Bankole on GitHub">on github</a> or <a href="mailto:r@akinjide.me" title="Akinjide Bankole Email">email me.</a>
          </p>
        </main>
      </div>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "footer-includes.html" . }}
  </body>
</html>
